In [167]:
import pandas as pd
import numpy as np
from joblib import load

In [168]:
user = pd.read_parquet("user2.parquet")
friend = pd.read_parquet("friend2.parquet")
photo = pd.read_parquet("photo2.parquet")
biography = pd.read_parquet("biography2.parquet")
post = pd.read_parquet("post2.parquet")
group = pd.read_parquet("group_table2.parquet")

In [169]:
newd = pd.DataFrame(columns=['user_id', 'anon_pab'])
group2 = group
# Группировка по user_id
for user_id, gr in group2.groupby('user_id'):  # Исправленный цикл
    gr['name'].fillna('', inplace=True)
    counter = gr[gr['name'].str.lower().str.contains('аноним')].shape[0]
    counter += gr[gr['name'].str.lower().str.contains('знакомств')].shape[0]
    new_row = pd.DataFrame({'user_id': [user_id], 'anon_pab': [counter]})
    newd = pd.concat([newd, new_row])
anon_group = newd
anon_group

C:\Users\hedge\AppData\Local\Temp\ipykernel_11948\3957621221.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gr['name'].fillna('', inplace=True)

   user_id anon_pab
0      357        0
0      358        2
0      359        0
0      361        0
0      362        0
..     ...      ...
0      502        0
0      503        0
0      504        7
0      505        0
0      506        1

[149 rows x 2 columns]

In [170]:
biography2 = biography.drop(columns=["id", "user_id"]).applymap(lambda x: 0 if (x is None) else 1)
biography2["user_id"] = biography["user_id"]
biography2

C:\Users\hedge\AppData\Local\Temp\ipykernel_11948\1319405078.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  biography2 = biography.drop(columns=["id", "user_id"]).applymap(lambda x: 0 if (x is None) else 1)

,activity,interests,music,films,tv,books,games,quotes,about,user_id
0,0,0,0,0,0,0,0,0,0,357
1,0,0,0,0,0,0,0,0,0,358
2,0,0,0,0,0,0,0,0,0,359
3,0,0,0,0,0,0,0,0,0,360
4,0,0,0,0,0,0,0,0,0,361
...,...,...,...,...,...,...,...,...,...,...
145,0,0,0,0,0,0,0,0,0,502
146,0,0,0,0,0,0,0,0,0,503
147,0,0,0,0,0,0,0,0,0,504
148,0,0,0,0,0,0,0,0,0,505
149,0,0,0,0,0,0,0,0,0,506

In [171]:
friend["city"] = friend["city"].apply(lambda x: None if (x is None or x == "") else x)
friend = friend[friend["city"].notna()]
friend

,id,user_id,first_name,last_name,city,education,work
0,1,357,Сергей,Траньков,Москва,None,None
1,2,357,Вадим,Марьинский,Москва,None,None
2,3,357,Олег,Соловьёв,Москва,None,None
3,4,357,Ксения,Молоканова,Москва,None,None
4,5,357,Татьяна,Хворостюк,Москва,None,Заместитель директора по ВР.Психолог. Социальн...
...,...,...,...,...,...,...,...
38365,38366,506,Артур,Мартыненко,Ponce,None,None
38367,38368,506,Снежана,Сулим,Зеленогорск,None,None
38368,38369,506,Катя,Ревенко,Красноярск,None,None
38370,38371,506,Юля,Крюкова,Красноярск,None,None
38371,38372,506,Оля,Аносова,Красноярск,None,None

In [172]:
diff_city_count = friend.groupby('user_id').agg(diff_city_count=("city", "nunique"))
diff_city_count

         diff_city_count
user_id
357                   61
358                    2
359                   12
360                  272
361                   35
...                  ...
502                   27
503                   26
504                   32
505                   50
506                    4

[149 rows x 1 columns]

In [173]:
friends_count = friend.groupby('user_id').agg(friend_count=("id", "count"))
friends_count

         friend_count
user_id
357               249
358                 9
359                17
360              1525
361               139
...               ...
502                99
503               117
504               140
505               384
506                55

[149 rows x 1 columns]

In [174]:
friends_count = friend.groupby('user_id').agg(friend_count=("id", "count"))
friends_count

         friend_count
user_id
357               249
358                 9
359                17
360              1525
361               139
...               ...
502                99
503               117
504               140
505               384
506                55

[149 rows x 1 columns]

In [175]:
avg_photo_likes = photo.groupby('user_id').agg(avg_photo_likes=("like_count", "mean"))
avg_photo_likes

         avg_photo_likes
user_id
357           109.641026
359           111.000000
360            89.000000
361             7.000000
362            98.000000
...                  ...
502           109.000000
503            82.533333
504            85.000000
505            13.115385
506            43.750000

[148 rows x 1 columns]

In [176]:
photo_count = photo.groupby('user_id').agg(photo_count=("id", "count"))
photo_count

         photo_count
user_id
357               39
359                1
360                2
361                3
362                2
...              ...
502                2
503               15
504                2
505               26
506                4

[148 rows x 1 columns]

In [177]:
post_count_owner = post[post["isowner"] == 1].groupby('user_id').agg(post_count_owner=("id", "count"))
post_count_owner

         post_count_owner
user_id
357                     8
359                     4
360                    10
361                    10
362                     2
...                   ...
502                     3
503                     6
504                     4
505                    14
506                     3

[136 rows x 1 columns]

In [178]:
post_count_friend = post[post["isowner"] == 0].groupby('user_id').agg(post_count_friend=("id", "count"))
post_count_friend

         post_count_friend
user_id
357                     12
358                     20
359                      7
360                     10
361                     10
363                      1
364                      2
366                      2
367                      2
370                      2
371                      1
375                      1
377                      1
379                      2
380                      2
382                     16
384                     17
390                      8
396                      7
398                      5
410                      1
414                     20
417                      7
418                      5
419                      9
421                      5
423                      6
426                      3
428                      1
432                      2
434                      2
436                      4
437                      1
438                      1
440                      5
445                      1
447                      1
451                      2
456                      6
457                      1
461                      1
463                      2
466                      1
467                     15
470                      6
482                      3
483                      1
484                      2
487                      8
490                      1
491                      1
492                      1
495                      4
496                      4
498                      1
501                      1
505                      6

In [179]:
post_count_delete = post[post["text"] == "Запись удалена"].groupby('user_id').agg(post_count_delete=("id", "count"))
post_count_delete

         post_count_delete
user_id
357                      1
358                     17
359                      7
361                      1
379                      1
396                      2
398                      1
414                      3
419                      1
421                      3
436                      1
440                      1
445                      1
456                      1
467                      1
487                      2
498                      1

In [180]:
group_count = group.groupby('user_id').agg(group_count=("id", "count"))
group_count

         group_count
user_id
357               48
358                4
359                2
361                4
362               44
...              ...
502               79
503               23
504              200
505              200
506              101

[149 rows x 1 columns]

In [181]:
user_new = user
user_new["user_id"] = user["id"]
user_new = user_new.drop("id", axis=1)
user_new = user_new.merge(avg_photo_likes, left_on="user_id", right_on="user_id", how="left")
user_new = user_new.merge(photo_count, left_on="user_id", right_on="user_id", how="left")
user_new = user_new.merge(post_count_owner, left_on="user_id", right_on="user_id", how="left")
user_new = user_new.merge(post_count_friend, left_on="user_id", right_on="user_id", how="left")
user_new = user_new.merge(post_count_delete, left_on="user_id", right_on="user_id", how="left")
user_new = user_new.merge(group_count, left_on="user_id", right_on="user_id", how="left")
user_new = user_new.merge(anon_group, left_on="user_id", right_on="user_id", how="left")
user_new = user_new.merge(diff_city_count, left_on="user_id", right_on="user_id", how="left")
user_new = user_new.merge(friends_count, left_on="user_id", right_on="user_id", how="left")

In [182]:
user_new["avg_photo_likes"] = user_new["avg_photo_likes"].fillna(0)
user_new["photo_count"] = user_new["photo_count"].fillna(0)
user_new["post_count_owner"] = user_new["post_count_owner"].fillna(0)
user_new["post_count_friend"] = user_new["post_count_friend"].fillna(0)
user_new["post_count_delete"] = user_new["post_count_delete"].fillna(0)

user_new.fillna(-3, inplace=True)
user_new

C:\Users\hedge\AppData\Local\Temp\ipykernel_11948\660145367.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  user_new.fillna(-3, inplace=True)

,vk_id,first_name,last_name,birth_date,age,user_id,avg_photo_likes,photo_count,post_count_owner,post_count_friend,post_count_delete,group_count,anon_pab,diff_city_count,friend_count
0,447989889,Арина,Анурьева,1.2.2005,19,357,109.641026,39.0,8.0,12.0,1.0,48.0,0,61.0,249.0
1,531789659,Xxx,Xxx,1.2.2005,19,358,0.000000,0.0,0.0,20.0,17.0,4.0,2,2.0,9.0
2,310682547,Красный,Луч,1.2.2005,19,359,111.000000,1.0,4.0,7.0,7.0,2.0,0,12.0,17.0
3,533102471,Wanny,Laemsan,1.2.2005,19,360,89.000000,2.0,10.0,10.0,0.0,-3.0,-3,272.0,1525.0
4,563215118,Channel-Myanmar,Movies,1.2.2005,19,361,7.000000,3.0,10.0,10.0,1.0,4.0,0,35.0,139.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,474922593,Костя,Вишняков,1.2.2005,19,502,109.000000,2.0,3.0,0.0,0.0,79.0,0,27.0,99.0
146,312572160,Саша,Москвичёва,1.2.2005,19,503,82.533333,15.0,6.0,0.0,0.0,23.0,0,26.0,117.0
147,392523496,Омар,Магомедов,1.2.2005,19,504,85.000000,2.0,4.0,0.0,0.0,200.0,7,32.0,140.0
148,442738014,Константин,Савчук,1.2.2005,19,505,13.115385,26.0,14.0,6.0,0.0,200.0,0,50.0,384.0
149,394273676,Алёна,Николаева,1.2.2005,19,506,43.750000,4.0,3.0,0.0,0.0,101.0,1,4.0,55.0

In [183]:
test_old = user_new.copy()
test = user_new.drop(columns=["vk_id", "age", "user_id", "first_name", "last_name", "birth_date"])
test

,avg_photo_likes,photo_count,post_count_owner,post_count_friend,post_count_delete,group_count,anon_pab,diff_city_count,friend_count
0,109.641026,39.0,8.0,12.0,1.0,48.0,0,61.0,249.0
1,0.000000,0.0,0.0,20.0,17.0,4.0,2,2.0,9.0
2,111.000000,1.0,4.0,7.0,7.0,2.0,0,12.0,17.0
3,89.000000,2.0,10.0,10.0,0.0,-3.0,-3,272.0,1525.0
4,7.000000,3.0,10.0,10.0,1.0,4.0,0,35.0,139.0
...,...,...,...,...,...,...,...,...,...
145,109.000000,2.0,3.0,0.0,0.0,79.0,0,27.0,99.0
146,82.533333,15.0,6.0,0.0,0.0,23.0,0,26.0,117.0
147,85.000000,2.0,4.0,0.0,0.0,200.0,7,32.0,140.0
148,13.115385,26.0,14.0,6.0,0.0,200.0,0,50.0,384.0
149,43.750000,4.0,3.0,0.0,0.0,101.0,1,4.0,55.0

In [184]:
# Стандартизация только видимых друзей
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler

test["friend_count"] = test["friend_count"].replace(0, np.nan).apply(lambda x: np.log1p(x) if x != -3 else x)
test["friend_count"] = test["friend_count"].replace(np.nan, 0)
test["friend_count"] = test["friend_count"].replace(-3, np.nan)

f_sc = load('f_sc.joblib')
test['friend_count'] = f_sc.fit_transform(test['friend_count'].values.reshape(-1, 1))

test["diff_city_count"] = test["diff_city_count"].replace(0, np.nan).apply(lambda x: np.log1p(x) if x != -3 else x)
test["diff_city_count"] = test["diff_city_count"].replace(np.nan, 0)
test["diff_city_count"] = test["diff_city_count"].replace(-3, np.nan)
diff_sc = load('diff_sc.joblib')
test['diff_city_count'] = diff_sc.fit_transform(test['diff_city_count'].values.reshape(-1, 1))

test["group_count"] = test["group_count"].replace(0, np.nan).apply(lambda x: np.log1p(x) if x != -3 else x)
test["group_count"] = test["group_count"].replace(np.nan, 0)
test["group_count"] = test["group_count"].replace(-3, np.nan)
gr_sc = load('gr_sc.joblib')
test['group_count'] = gr_sc.fit_transform(test['group_count'].values.reshape(-1, 1))

test["anon_pab"] = test["anon_pab"].replace(0, np.nan).apply(lambda x: np.log1p(x) if x != -3 else x)
test["anon_pab"] = test["anon_pab"].replace(np.nan, 0)
test["anon_pab"] = test["anon_pab"].replace(-3, np.nan)
anon_sc = load('anon_sc.joblib')
test['anon_pab'] = anon_sc.fit_transform(test['anon_pab'].values.reshape(-1, 1))

test.fillna(-2, inplace=True)
test

,avg_photo_likes,photo_count,post_count_owner,post_count_friend,post_count_delete,group_count,anon_pab,diff_city_count,friend_count
0,109.641026,39.0,8.0,12.0,1.0,-0.649729,0.000000,1.327527,1.060106
1,0.000000,0.0,0.0,20.0,17.0,-2.913764,1.000000,-2.033220,-1.895499
2,111.000000,1.0,4.0,7.0,7.0,-3.420484,0.000000,-0.406028,-1.355787
3,89.000000,2.0,10.0,10.0,0.0,-2.000000,-2.000000,2.972475,2.721097
4,7.000000,3.0,10.0,10.0,1.0,-2.913764,0.000000,0.724278,0.527711
...,...,...,...,...,...,...,...,...,...
145,109.000000,2.0,3.0,0.0,0.0,-0.163464,0.000000,0.445394,0.218758
146,82.533333,15.0,6.0,0.0,0.0,-1.357758,0.000000,0.405037,0.370735
147,85.000000,2.0,4.0,0.0,0.0,0.750409,1.892789,0.627721,0.534246
148,13.115385,26.0,14.0,6.0,0.0,0.750409,0.000000,1.110793,1.456573
149,43.750000,4.0,3.0,0.0,0.0,0.077530,0.630930,-1.466358,-0.313637

In [185]:
from sklearn.preprocessing import MinMaxScaler

test["avg_photo_likes"] = test["avg_photo_likes"].replace(0, np.nan).apply(lambda x: np.log1p(x))
test["photo_count"] = test["photo_count"].replace(0, np.nan).apply(lambda x: np.log1p(x))

postO_sc = load('postO_sc.joblib')
test['post_count_owner'] = postO_sc.fit_transform(test['post_count_owner'].values.reshape(-1, 1))

postF_sc = load('postF_sc.joblib')
test['post_count_friend'] = postF_sc.fit_transform(test['post_count_friend'].values.reshape(-1, 1))

postD_sc = load('postD_sc.joblib')
test['post_count_delete'] = postD_sc.fit_transform(test['post_count_delete'].values.reshape(-1, 1))

like_sc = load('like_sc.joblib')
test['avg_photo_likes'] = like_sc.fit_transform(test['avg_photo_likes'].values.reshape(-1, 1))

photoC_sc = load('photoC_sc.joblib')
test['photo_count'] = photoC_sc.fit_transform(test['photo_count'].values.reshape(-1, 1))
test.fillna(0, inplace=True)
test

,avg_photo_likes,photo_count,post_count_owner,post_count_friend,post_count_delete,group_count,anon_pab,diff_city_count,friend_count
0,1.014235,1.041215,0.40,0.60,0.058824,-0.649729,0.000000,1.327527,1.060106
1,0.000000,0.000000,0.00,1.00,1.000000,-2.913764,1.000000,-2.033220,-1.895499
2,1.026775,-0.748376,0.20,0.35,0.411765,-3.420484,0.000000,-0.406028,-1.355787
3,0.802137,-0.506159,0.50,0.50,0.000000,-2.000000,-2.000000,2.972475,2.721097
4,-1.684066,-0.334303,0.50,0.50,0.058824,-2.913764,0.000000,0.724278,0.527711
...,...,...,...,...,...,...,...,...,...
145,1.008266,-0.506159,0.15,0.00,0.000000,-0.163464,0.000000,0.445394,0.218758
146,0.725545,0.493841,0.30,0.00,0.000000,-1.357758,0.000000,0.405037,0.370735
147,0.755438,-0.506159,0.20,0.00,0.000000,0.750409,1.892789,0.627721,0.534246
148,-1.100797,0.806419,0.70,0.30,0.000000,0.750409,0.000000,1.110793,1.456573
149,0.084413,-0.201002,0.15,0.00,0.000000,0.077530,0.630930,-1.466358,-0.313637

In [186]:
kmeans = load("kmeans1.joblib")
# Делаем предсказания для нового датасета на обученной модели KMeans
predicted_clusters = kmeans.predict(test)

# Добавляем результат предсказаний к новому датасету
test['predicted_cluster'] = predicted_clusters
test_old['predicted_cluster'] = predicted_clusters
test_old

,vk_id,first_name,last_name,birth_date,age,user_id,avg_photo_likes,photo_count,post_count_owner,post_count_friend,post_count_delete,group_count,anon_pab,diff_city_count,friend_count,predicted_cluster
0,447989889,Арина,Анурьева,1.2.2005,19,357,109.641026,39.0,8.0,12.0,1.0,48.0,0,61.0,249.0,1
1,531789659,Xxx,Xxx,1.2.2005,19,358,0.000000,0.0,0.0,20.0,17.0,4.0,2,2.0,9.0,0
2,310682547,Красный,Луч,1.2.2005,19,359,111.000000,1.0,4.0,7.0,7.0,2.0,0,12.0,17.0,0
3,533102471,Wanny,Laemsan,1.2.2005,19,360,89.000000,2.0,10.0,10.0,0.0,-3.0,-3,272.0,1525.0,1
4,563215118,Channel-Myanmar,Movies,1.2.2005,19,361,7.000000,3.0,10.0,10.0,1.0,4.0,0,35.0,139.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,474922593,Костя,Вишняков,1.2.2005,19,502,109.000000,2.0,3.0,0.0,0.0,79.0,0,27.0,99.0,1
146,312572160,Саша,Москвичёва,1.2.2005,19,503,82.533333,15.0,6.0,0.0,0.0,23.0,0,26.0,117.0,1
147,392523496,Омар,Магомедов,1.2.2005,19,504,85.000000,2.0,4.0,0.0,0.0,200.0,7,32.0,140.0,1
148,442738014,Константин,Савчук,1.2.2005,19,505,13.115385,26.0,14.0,6.0,0.0,200.0,0,50.0,384.0,1
149,394273676,Алёна,Николаева,1.2.2005,19,506,43.750000,4.0,3.0,0.0,0.0,101.0,1,4.0,55.0,0

In [187]:
test

,avg_photo_likes,photo_count,post_count_owner,post_count_friend,post_count_delete,group_count,anon_pab,diff_city_count,friend_count,predicted_cluster
0,1.014235,1.041215,0.40,0.60,0.058824,-0.649729,0.000000,1.327527,1.060106,1
1,0.000000,0.000000,0.00,1.00,1.000000,-2.913764,1.000000,-2.033220,-1.895499,0
2,1.026775,-0.748376,0.20,0.35,0.411765,-3.420484,0.000000,-0.406028,-1.355787,0
3,0.802137,-0.506159,0.50,0.50,0.000000,-2.000000,-2.000000,2.972475,2.721097,1
4,-1.684066,-0.334303,0.50,0.50,0.058824,-2.913764,0.000000,0.724278,0.527711,0
...,...,...,...,...,...,...,...,...,...,...
145,1.008266,-0.506159,0.15,0.00,0.000000,-0.163464,0.000000,0.445394,0.218758,1
146,0.725545,0.493841,0.30,0.00,0.000000,-1.357758,0.000000,0.405037,0.370735,1
147,0.755438,-0.506159,0.20,0.00,0.000000,0.750409,1.892789,0.627721,0.534246,1
148,-1.100797,0.806419,0.70,0.30,0.000000,0.750409,0.000000,1.110793,1.456573,1
149,0.084413,-0.201002,0.15,0.00,0.000000,0.077530,0.630930,-1.466358,-0.313637,0

In [189]:
target1 = pd.DataFrame()
target1["vk_id"] = test_old["vk_id"]
target1["target1"] = test_old["predicted_cluster"].apply(lambda x: "Э" if x == 1 else "И")
target1.to_csv("test_predict1.csv", index=False)